<!-- <p *ngIf="condition; else elseBlock">
  Is true
</p>

<ng-template #elseBlock>
  <p>
    Is loading...
  </p>
</ng-template>

<button (click)="toggle()">Toggle</button> -->

<div>
  <p *ngFor="let humanName of people">
    Hey {{humanName}}, we glad to see you!
  </p>
</div>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <p>
    <label>FirstName
      <input formControlName="firstName" />
    </label>
  </p>
  <p>
    <label>
      LastName
      <input formControlName="lastName" />
    </label>
  </p>
  <!-- <div>
    <label>
      UserPhone
      <input formControlName="userPhone" />
    </label>
    <p *ngIf="getUserPhoneControl.touched && getUserPhoneControl.invalid">
      Неверный номер телефона
    </p>
  </div> -->
  <button [disabled]="profileForm.invalid" type="submit">Confirm</button>
</form>

<div>
  <p *ngFor="let humanName of people">
    <a 
    [routerLink]="['user', humanName]"
    [queryParams]="{primeName: 'Prime'}"
    >{{humanName}}</a>
  </p>
</div>



<router-outlet></router-outlet>